<h1>Address Book</h1>
<body>
<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Zip code</th>
      <th>Favorite color</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.first_name %></td>
        <td class="alt"><%= entry.last_name %></td>
        <td><%= entry.email %></td>
        <td class="alt"><%= entry.zip_code %></td>
        <td><%= entry.favorite_color %></td>
	<td bgcolor="<%= entry.favorite_color %>"></td>
        <td><%= link_to 'Show', entry %></td>
        <td class="alt"><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</body>
<%= link_to 'New Entry', new_entry_path %>
